.main-page {
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 100vh;

  &--server-list {
    min-width: 100px;
    background-color: var(--grey-color-dark);
  }

  &--friends-list {
    min-width: 300px;
    background-color: var(--grey-color-dark-01);
  }

  &--chat-content {
    min-width: 60%;
    background-color: var(--grey-color-darker);
  }

  &--server-users {
    width: 300px;
    background-color: var(--grey-color-darker-01);
  }
}
