.container {
  box-sizing: border-box;
  min-width: 500px;
  padding: var(--extra-large-size);
  background-color: var(--grey-color-dark);
  border-radius: var(--medium-size);
}

.flex {
  display: flex;
  gap: 50px;
}

.login-container {
  width: 500px;
}

.login-container > span {
  font-size: 24px;
  font-weight: 600;
}

.login-container > p {
  margin-top: var(--medium-size);
  color: var(--grey-color-light);
}

.login-container .form input {
  padding: var(--medium-size);
}

.login-container .form input[type="password"] {
  margin-bottom: var(--short-size);
}

.login-container .form a {
  color: var(--blue-color-light);
  text-decoration: none;
  text-align: left;
}

.login-container .continue {
  background-color: var(--violet-color);
  border-radius: var(--short-size);
  margin-bottom: var(--medium-size);
  color: var(--white-color);
}

.qr-container {
  max-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: var(--large-size);
}

.qr-img {
  width: 200px;
  margin-bottom: 30px;
}

.qr-img img {
  width: 100%;
  border-radius: var(--medium-size);
}

.qr-container span {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: var(--medium-size);
}

.qr-container p {
  color: var(--grey-color-light);
  margin: unset;
}
