.container > span {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-white);
}

.form {
  display: flex;
  flex-direction: column;

  span {
    color: var(--color-red);
  }

  > span {
    align-self: flex-start;
    margin-top: var(--medium-size);
    margin-bottom: var(--medium-size);
    font-size: 14px;
    font-weight: 700;
    color: var(--color-grey-light);
  }

  input {
    outline: 0px;
    margin-bottom: 1var (--short-size);
    border: 0px;
    border-radius: var(--short-size);
    padding: var(--short-size);
    font-size: var(--large-size);
    background-color: var(--color-grey-darker);
    color: var(--color-white);
  }
}

.birth {
  display: flex;
  justify-content: space-between;

  select {
    border: none;
    border-radius: var(--short-size);
    width: 140px;
    padding: var(--medium-size);
    background-color: var(--color-grey-darker);
    color: var(--color-grey-light);
  }
}

.optional {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--medium-size);
  margin-top: var(--large-size);

  input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: var(--extra-large-size);
    height: var(--extra-large-size);
    margin: 0;
    border: 2px solid var(--color-grey-light);
    border-radius: 8px;
    background-color: var(--color-grey-dark);
    cursor: pointer;
  }

  input[type="checkbox"]:checked {
    background-color: var(--color-violet);
  }

  input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 9px;
    width: var(--short-size);
    height: 13px;
    border: 4px solid transparent;
    border-top: none;
    border-left: none;
    transform: rotate(45deg) scale(1);
  }

  input[type="checkbox"]:checked::before {
    border-color: var(--color-white);
  }

  label {
    margin: 0;
    width: 400px;
    font-size: 14px;
    text-align: left;
    color: var(--color-grey-light);

    a {
      color: var(--color-blue-light);
    }
  }
}

.continue {
  margin-top: var(--large-size);
  border-radius: var(--short-size);
  color: var(--color-grey-light);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: var(--medium-size);
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-violet);
  cursor: pointer;
}

.account {
  margin-top: var(--large-size);
  text-align: left;
  color: var(--color-blue-light);
}

.white {
  color: var(--color-white);
}
