.container > span {
  color: var(--white-color);
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 15px;
}

.form {
  display: flex;
  flex-direction: column;

  span {
    color: var(--red-color);
  }

  > span {
    color: var(--grey-color-light);
    margin-bottom: var(--medium-size);
    align-self: flex-start;
    font-size: 14px;
    font-weight: 700;
    margin-top: var(--medium-size);
  }

  input {
    font-size: var(--large-size);
    outline: 0px;
    padding: var(--short-size);
    margin-bottom: 1var (--short-size);
    border: 0px;
    border-radius: var(--short-size);
    background-color: var(--grey-color-darker);
    color: var(--white-color);
  }
}

.birth {
  display: flex;
  justify-content: space-between;

  select {
    background-color: var(--grey-color-darker);
    padding: var(--medium-size);
    width: 140px;
    color: var(--grey-color-light);
    border-radius: var(--short-size);
    border: none;
  }
}

.optional {
  margin-top: var(--large-size);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--medium-size);

  input[type="checkbox"] {
    position: relative;
    width: var(--extra-large-size);
    height: var(--extra-large-size);
    background-color: var(--grey-color-dark);
    border-radius: 8px;
    appearance: none;
    cursor: pointer;
    margin: 0;
    border: 2px solid var(--grey-color-light);
  }

  input[type="checkbox"]:checked {
    background-color: var(--violet-color);
  }

  input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 9px;
    width: var(--short-size);
    height: 13px;
    border: 4px solid transparent;
    border-top: none;
    border-left: none;
    transform: rotate(45deg) scale(1);
  }

  input[type="checkbox"]:checked::before {
    border-color: var(--white-color);
  }

  label {
    margin: 0;
    color: var(--grey-color-light);
    font-size: 14px;
    text-align: left;
    width: 400px;

    a {
      color: var(--blue-color-light);
    }
  }
}

.continue {
  margin-top: var(--large-size);
  border-radius: var(--short-size);
  color: var(--grey-color-light);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: var(--medium-size);
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--violet-color);
  cursor: pointer;
}

.account {
  margin-top: var(--large-size);
  text-align: left;
  color: var(--blue-color-light);
}

.white {
  color: var(--white-color);
}
