.container {
  box-sizing: border-box;
  min-width: 500px;
  padding: var(--extra-large-size);
  background-color: var(--color-grey-dark);
  border-radius: var(--medium-size);
}

.flex {
  display: flex;
  gap: 50px;
}

.login-container {
  width: 500px;
  span {
    font-size: 24px;
    font-weight: 600;
  }

  p {
    margin-top: var(--medium-size);
    color: var(--color-grey-light);
  }

  .form {
    input {
      padding: var(--medium-size);
    }

    input[type="password"] {
      margin-bottom: var(--short-size);
    }

    a {
      color: var(--color-blue-light);
      text-decoration: none;
      text-align: left;
    }
  }

  .continue {
    background-color: var(--color-violet);
    border-radius: var(--short-size);
    margin-bottom: var(--medium-size);
    color: var(--color-white);
  }
}

.qr-container {
  max-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: var(--large-size);

  span {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: var(--medium-size);
  }

  p {
    color: var(--color-grey-light);
    margin: unset;
  }
}

.qr-img {
  width: 200px;
  margin-bottom: 30px;

  img {
    width: 100%;
    border-radius: var(--medium-size);
  }
}
